@use "../../scss/main.scss" as *;
@use "../../scss/font/font.scss" as *;
@use "../../scss/theme/theme.scss" as *;
@use "../../scss/typography/typography.scss" as *;

.try-demo {
    button{
  opacity: 1;
  transform: none;
  background: var(--black100);
  color: var(--bg-white);
  cursor: pointer;
  border: none;
  border-radius: 48px;
  align-items: center;
  gap: 10px;
  padding: 4px 16px 4px 4px;
  font-family: Euclid-SemiBold;
  @include font16;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
  display: flex;
  @media (max-width:568px){
    font-size: 14px;
  }
  img{
        -webkit-user-drag: none;
    max-width: 100%;
      @media (max-width:568px){
        max-width: 35px;
      }
  }
    }
    button:hover{
    background-position: 100%;
    transform: scale(1.05);
}
}

