@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .partnerTool-section {
    background: $black20;
    position: relative;
    .background-layer {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      img {
        width: 100%;
      }
    }
    .container-xl {
      padding: 0 20px;
      @media (max-width:1050px){
        padding: 0;
      }
      .partnerTool-grid {
        grid-template-columns: 542px 1fr;
        align-items: center;
        gap: 70px;
        display: grid;
        @media (max-width:1050px) {
            grid-template-columns: 1fr;
            gap: 40px;
        }
        .partnerTool-items {
          height: 100%;
          .partnerTool-items-image {
            height: 100%;
            img {
              height: 100%;
              width: 100%;
            }
          }
          .partnerTool-text {
            padding: 100px 0;
             @media (max-width:1050px){
                padding: 50px 20px;
             }
             @media (max-width:568px) {
                padding: 0 20px;
             }
            h2 {
              -webkit-text-fill-color: #0000;
              background: linear-gradient(
                93deg,
                #fff 0%,
                #f1f1f1 24.34%,
                #ddd 52.49%,
                #f1f1f1 71.46%,
                #fff 99.25%
              );
              -webkit-background-clip: text;
              background-clip: text;
              margin: 0 0 32px;
              font-family: GCarturmDemo-SemiBold;
              @include font48;
              span {
                background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
                -webkit-text-fill-color: #0000;
                -webkit-background-clip: text;
                background-clip: text;
              }
              @media (max-width:568px){
                font-size: 30px;
                line-height: 40px;
              }
            }
            .partnerTool-grid-box {
              grid-template-columns: repeat(2, 1fr);
              gap: 16px;
              display: grid;
              @media (max-width:568px){
                grid-template-columns: 1fr;
                gap: 20px;
              }
              .partnerTool-grid-box-items {
                transform-style: preserve-3d;
                background: linear-gradient(#ffffff1a 0%, #fff0 100%);
                border-radius: 24px;
                grid-template-columns: 24px 1fr;
                align-items: center;
                gap: 10px;
                padding: 28px 22px;
                transition:
                  transform 0.3s,
                  box-shadow 0.3s;
                display: grid;
                position: relative;
                transform: perspective(1000px) rotateX(0) rotateY(0);
                &::before {
                  content: "";
                  -webkit-mask-composite: xor;
                  pointer-events: none;
                  background: linear-gradient(#fff3 0%, #0000 100%);
                  border-radius: 24px;
                  padding: 1px;
                  transition: all 0.3s ease-in-out;
                  position: absolute;
                  inset: 0;
                  -webkit-mask-image:
                    linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                  -webkit-mask-position:
                    0 0,
                    0 0;
                  -webkit-mask-size: auto, auto;
                  -webkit-mask-repeat: repeat, repeat;
                  -webkit-mask-clip: content-box, border-box;
                  -webkit-mask-origin: content-box, border-box;
                  -webkit-mask-composite: xor;
                  mask-composite: exclude;
                  -webkit-mask-source-type: auto, auto;
                  mask-mode: match-source, match-source;
                }
                svg {
                  width: 24;
                  height: 24;
                  fill: none;
                }
                p {
                  color: $white200;
                  font-family: Euclid-primary;
                  @include font20;
                }
              }
              .partnerTool-grid-box-items:hover {
                &::before {
                  background: linear-gradient(320deg, #ffffffb3 0%, #0000 100%);
                }
              }
            }
          }
        }
      }
    }
  }
}
