@font-face {
    font-family: Euclid-primary;
    src: url("../../assets/font/Euclid\ Circular\ A\ Regular.ttf");
}
@font-face {
    font-family: Euclid-Medium;
    src: url("../../assets/font/Euclid\ Circular\ A\ Medium.ttf");
}
@font-face {
    font-family: Euclid-SemiBold;
    src: url("../../assets/font/Euclid\ Circular\ A\ SemiBold.ttf");
}
@font-face {
    font-family: GCarturmDemo-SemiBold;
    src: url("../../assets/font/GCarturmDemo-SemiBold.ttf");
}
@font-face {
    font-family: GCarturmDemo-Regular;
    src: url("../../assets/font/GCarturmDemo-Regular.ttf");
}
@font-face {
    font-family: GCarturmDemo-Medium;
    src: url("../../assets/font/GCarturmDemo-Medium.ttf");
}