@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .latestBlog-section {
    background: var(--black20);
    padding: 60px 0;
    .container-xl {
      padding: 0 20px;
      .latestBlog-title-alignment {
        justify-content: space-between;
        align-items: center;
        display: flex;
        position: relative;
        @media (max-width: 568px) {
          grid-template-columns: 1fr;
          gap: 16px;
          display: grid;
        }
        .latestBlog-text-alignment {
          z-index: 9;
          background: var(--black20);
          padding-right: 20px;
          position: relative;
          h2 {
            -webkit-text-fill-color: #0000;
            background: linear-gradient(
              93deg,
              #fff 0%,
              #f1f1f1 24.34%,
              #ddd 52.49%,
              #f1f1f1 71.46%,
              #fff 99.25%
            );
            -webkit-background-clip: text;
            background-clip: text;
            font-family: GCarturmDemo-SemiBold;
            @include font34;
            span {
              background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
              -webkit-text-fill-color: #0000;
              -webkit-background-clip: text;
              background-clip: text;
              @include font34;
            }
            @media (max-width: 568px) {
              @include font30;
            }
          }
        }
        .latestBlog-title-button {
          z-index: 9;
          background: var(--black20);
          padding-left: 20px;
          position: relative;
          @media (max-width: 568px) {
            max-width: 210px;
            padding-left: 0;
          }
          button {
            cursor: pointer;
            border: 1.722px solid var(--yellow)200;
            color: var(--yellow)200;
            background-color: #0000;
            border-radius: 36.934px;
            align-items: center;
            gap: 7px;
            padding: 10px 25px;
            font-family: Euclid-Medium;
            font-size: 17.728px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            display: flex;
            svg {
              transition: all 0.5s ease-in-out;
            }
          }
          .latestBlog-dropdown-menu {
            max-height: 0;
            transition: all 0.5s ease-in-out;
            overflow: hidden;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            left: 20px;
            width: 220px;
            margin-top: 10px;
            .latestBlog-dropdown-menu-spacing {
              background-color: var(--black100)0;
              border: 1px solid var(--brown);;
              border-radius: 12px;
              padding: 16px;
              span {
                cursor: pointer;
                color: var(--bg-white);
                opacity: 0.7;
                padding: 0 0 16px;
                font-family: Euclid-Medium;
                font-size: 16px;
                transition: all 0.5s ease-in-out;
                display: block;
                &:last-child {
                  padding: 0;
                }
              }
            }
          }
        }
        .latestBlog-title-button:hover {
          button {
            svg {
              transform: rotate(180deg);
            }
          }
          .latestBlog-dropdown-menu {
            max-height: 100vh;
            opacity: 1;
            pointer-events: auto;
          }
        }
        .latestBlog-title-line {
          background: var(--bg-white);
          width: 100%;
          height: 2px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          @media (max-width: 568px) {
            display: none;
          }
        }
      }
      .latestBlog-card-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
        padding: 44px 0;
        display: grid;
        @media (max-width: 768px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 568px) {
          grid-template-columns: repeat(1, 1fr);
        }
        a {
          .latestBlog-card {
            .latestBlog-card-image {
              img {
                object-fit: cover;
                border-radius: 12px;
                width: 100%;
                height: 166px;
                display: block;
              }
            }
            .latestBlog-card-details {
              padding: 17px 0 0;
              h3 {
                color: var(--bg-white);
                margin: 0 0 6px;
                font-family: Euclid-Medium;
                font-size: 17.222px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
              }
              .latestBlog-card-text-alignment {
                align-items: center;
                gap: 14px;
                display: flex;
                span {
                  color: var(--bg-white700);
                  font-family: Euclid-Medium;
                  font-size: 13.778px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: normal;
                  display: block;
                }
              }
            }
          }
        }
      }
      .latestBlog-paginationAlignment {
        justify-content: center;
        align-items: center;
        gap: 15px;
        display: flex;
        .latestBlog-paginationAlignment-disable-text {
          opacity: 0.5;
          cursor: not-allowed;
          pointer-events: none;
          width: 48px;
          height: 48px;
          color: var(--bg-white);
          text-align: center;
          cursor: pointer;
          border-radius: 42px;
          justify-content: center;
          align-items: center;
          font-family: Euclid-SemiBold;
          @include font15;
          font-weight: 700;
          line-height: normal;
          display: flex;
        }
        .latestBlog-paginationAlignment-Activepage {
          border: 0.75px solid var(--Gray, #bcbcbc);
          width: 48px;
          height: 48px;
          color: var(--Gray, #bcbcbc);
          text-align: center;
          cursor: pointer;
          border-radius: 42px;
          justify-content: center;
          align-items: center;
          font-family: Euclid-SemiBold;
          font-size: 18px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          transition: all 0.3s ease-in-out;
          display: flex;
          @media (max-width: 568px) {
            width: 40px;
            height: 40px;
            font-size: 16px;
          }
        }
        .latestBlog-paginationAlignment-Activepage:hover {
          border: 0.75px solid var(--Primary, #e8bc33);
          color: #030303;
          background: var(
            --Primary,
            linear-gradient(90deg, #e8bc33 10%, #b07a09 100%)
          );
        }
        .active-page {
          border: 0.75px solid var(--Primary, #e8bc33);
          color: #030303;
          background: var(
            --Primary,
            linear-gradient(90deg, #e8bc33 10%, #b07a09 100%)
          );
        }
        .latestBlog-paginationAlignment-text {
          width: 48px;
          height: 48px;
          color: var(--bg-white);
          text-align: center;
          cursor: pointer;
          border-radius: 42px;
          justify-content: center;
          align-items: center;
          font-family: Euclid-SemiBold;
          font-size: 15px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
          display: flex;
        }
      }
    }
  }
}
