@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .openYourAccount-section {
    padding: 110px 0;
    background-color: var(--bg-white);
     @media (max-width:568px){
      padding: 60px 0;
     }
    .container-xl {
      padding: 0 20px;
      .openYourAccount-title {
        opacity: 1;
        transform: none;
        padding: 0 0 32px;
         @media (max-width:568px){
          padding: 0 0 30px;
         }
        h2 {
          background: linear-gradient(
            93deg,
            #252525 0%,
            #4e4e4e 24.34%,
            #4e4e4e 52.49%,
            #4e4e4e 71.46%,
            #252525 99.25%
          );
          text-align: center;
          -webkit-text-fill-color: #0000;
          -webkit-background-clip: text;
          background-clip: text;
          margin: 0 0 8px;
          font-family: GCarturmDemo-SemiBold;
          @include font48;
           @media (max-width:568px){
            @include font30;
           }
          span {
            background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
            -webkit-text-fill-color: #0000;
            -webkit-background-clip: text;
            background-clip: text;
          }
        }
        p {
          color: var(--black300);
          text-align: center;
          max-width: 885px;
          margin: 0 auto;
          font-family: Euclid-primary;
          @include font20;
           @media (max-width:568px){
            font-size: 16px;
            line-height: 22px;
           }
        }
      }
      .easy-steps-cards {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        display: grid;
         @media (max-width:1024px){
          grid-template-columns: repeat(2,1fr);
         }
         @media (max-width:568px){
          grid-template-columns:1fr;
          gap: 20px;
         }
        .easy-steps-card {
          transform-style: preserve-3d;
          background: var(--bg-white300);
          border-radius: 24px;
          padding: 24px 24px 10px;
          transition:
            transform 0.3s,
            box-shadow 0.3s;
          position: relative;
          transform: perspective(1000px) rotateX(0) rotateY(0);
          &::before {
            content: "";
            border-radius: 24px;
            border-radius: inherit;
            -webkit-mask-composite: xor;
            pointer-events: none;
            background: linear-gradient(#0003 0%, #fff0 100%);
            padding: 1px;
            transition: all 0.3s ease-in-out;
            position: absolute;
            inset: 0;
            -webkit-mask-image:
              linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
            -webkit-mask-position:
              0 0,
              0 0;
            -webkit-mask-size: auto, auto;
            -webkit-mask-repeat: repeat, repeat;
            -webkit-mask-clip: content-box, border-box;
            -webkit-mask-origin: content-box, border-box;
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            -webkit-mask-source-type: auto, auto;
            mask-mode: match-source, match-source;
          }
          .easy-steps-card-counter {
            background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
            color: var(--bg-white);
            text-align: center;
            border-radius: 50px;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            margin: 0 0 12px;
            font-family: Euclid-SemiBold;
            @include font24;
            display: flex;
          }
          h3 {
            background: linear-gradient(
              93deg,
              #252525 0%,
              #4e4e4e 24.34%,
              #4e4e4e 52.49%,
              #4e4e4e 71.46%,
              #252525 99.25%
            );
            -webkit-text-fill-color: #0000;
            -webkit-background-clip: text;
            background-clip: text;
            font-family: Euclid-SemiBold;
            @include font24;
            display: inline;
          }
          p {
            color: var(--black300);
            margin: 8px 0 18px;
            font-family: Euclid-primary;
            @include font18;
            font-weight: 400;
            line-height: 105%;
          }
          .easy-steps-card-iconRight {
            justify-content: flex-end;
            display: flex;
          }
        }
        .easy-steps-card:hover {
          &::before {
            background: linear-gradient(240deg, #00000080 0%, #fff0 100%);
          }
        }
      }
      .account-center-button {
        justify-content: center;
        padding: 32px 0 0;
        display: flex;
      }
    }
  }
}
