@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .WhyTradeWithForex-section {
    background-color: $black20;
    padding: 110px 0 78px;
    position: relative;
    @media (max-width: 568px) {
      padding: 60px 0;
    }
    &::before {
      content: "";
      filter: blur(250px);
      background: $white100;
      border-radius: 352px;
      width: 158px;
      height: 252px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .container-xl {
      padding: 0 20px;
      .WhyTradeWithForex-section-grid {
        grid-template-columns: 466px 1fr;
        align-items: center;
        gap: 30px;
        display: grid;
        position: relative;
        @media (max-width: 1024px) {
          grid-template-columns: 1fr;
          gap: 40px;
        }
        .WhyTradeWithForex-grid-items-leftside {
          h1 {
            -webkit-text-fill-color: #0000;
            background: linear-gradient(
              93deg,
              #fff 0%,
              #f1f1f1 24.34%,
              #ddd 52.49%,
              #f1f1f1 71.46%,
              #fff 99.25%
            );
            -webkit-background-clip: text;
            background-clip: text;
            margin: 0 0 20px;
            font-family: GCarturmDemo-SemiBold;
            @include font48;
            @media (max-width: 568px) {
              margin: 0 0 10px;
              @include font30;
            }
            span {
              background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
              -webkit-text-fill-color: #0000;
              -webkit-background-clip: text;
              background-clip: text;
            }
          }
          .leftside-bottom-paragraph {
            p {
              color: $grey100;
              max-width: 466px;
              font-family: Euclid-primary;
              @include font16;
              font-weight: 400;
              line-height: 105%;
              @media (max-width: 568px) {
                font-size: 16px;
                line-height: 22px;
              }
            }
          }
        }
        .WhyTradeWithForex-grid-items-right {
          .WhyTradeWithForex-right-darkbox {
            background: linear-gradient(#ffffff1a 0%, #fff0 100%);
            border-radius: 24px 24px 0 0;
            grid-template-columns: repeat(3, 1fr);
            gap: 0;
            padding: 8px 17px 27px;
            display: grid;
            @media (max-width: 568px) {
              grid-template-columns: 1fr;
              gap: 0;
              padding: 16px;
            }
            .WhyTradeWithForex-right-darkbox-card {
              border-right: 1px solid $black300;
              position: relative;
              @media (max-width: 568px) {
                border-right: none;
              }
              .WhyTradeWithForex-right-darkbox-card-content {
                padding: 22px 16px 16px;
                @media (max-width: 568px) {
                  border-bottom: 1px solid $black300;
                  padding: 24px 0;
                }
                img {
                  user-drag: none;
                  -webkit-user-drag: none;
                }
                h3 {
                  color: $white;
                  margin: 14px 0;
                  font-family: Euclid-Medium;
                  @include font20;
                  font-weight: 500;
                }
                p {
                  color: $black300;
                  font-family: Euclid-primary;
                  @include font15;
                }
              }
              .WhyTradeWithForex-card-content-bottom-line {
                background-color: $black300;
                width: calc(100% - 32px);
                height: 1px;
                margin: 0 auto;
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                 @media (max-width: 568px){
                    display: none;
                 }
              }
            }
            .darkbox-card-right-border {
              border-right: none;
            }
          }
        }
      }
    }
  }
}
