@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

.tagline-container {
  .tagline {
    height: 83px;
    width: 100%;
    overflow: hidden;
    background-color: var(--black10);
    position: relative;
    z-index: 5;
    .marquee {
      width: 100%;
      .marquee-alignment {
        padding: 10px;
        display: flex;
        gap: 30px;
        align-items: center;
        border-right: 1px solid grey;
        cursor: pointer;
        .marquee-leftside {
          .tv-clip {
            display: flex;
            gap: 20px;
            align-items: center;
            .top-images {
              position: relative;
              height: 24px;
              display: flex;
              align-items: start;
              justify-content: start;
              background-color: transparent;
              .first-top-img {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 999;
                img {
                  border-radius: 50%;
                }
              }
              .bottom-img {
                height: 16px;
                width: 16px;
                border-radius: 50%;
                position: absolute;
                bottom: 0;
                right: -12px;
                z-index: 999;
                img {
                  border-radius: 50%;
                }
              }
            }
            .img-text {
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              @include font16;
              line-height: 24px;
              color: var(--bg-white);
            }
          }
          .bottom-counts {
            display: flex;
            align-items: baseline;
            gap: 6px;
            padding: 10px 0;
            .price {
              @include font16;
              line-height: 24px;
              color: var(--red);
            }
            .country {
              @include font11;
              text-transform: uppercase;
              color: var(--bg-white);
            }
            .flow-percentage {
              @include font16;
              line-height: 24px;
              color: var(--red);
            }
            .profit {
              color: var(--green)
            }
          }
        }
        .marquee-rightside {
          width: 162px;
          height: 58px;
          img {
            max-width: 100%;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  
  .right-image-hover {
    height: 25px;
    max-width: 120px;
    display: flex;
    align-items: center;
    gap: 2px;
    padding-block-start: 4px;
    background-color: var(--black700);
    position: absolute;
    right: 0;
    top: 10px;
    transform: translateX(91px);
    z-index: 1;
    border-radius: 15.5px 0 0 15.5px ;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    overflow: hidden;
    padding: 7px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 2px 4px 0 light-dark(#0003, #0006);
    svg{
      color: var(--bg-white);
      display: flex;
      align-items: center;
    }
  }
    .right-image-hover:hover{
      transform: translateX(0);
    }
}
}
