@use "../../scss/main.scss" as *;
@use "../../scss/font/font.scss" as *;
@use "../../scss/theme/theme.scss" as *;
@use "../../scss/typography/typography.scss" as *;

header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  .container {
    padding: 0 20px;
    .header-alignment {
      backdrop-filter: blur(24px);
      background-color: linear-gradient(#fff0 0%, #ffffff4d 100%);
      border-bottom: 1px solid $white;
      border-radius: 0 0 32px 32px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 16px;
      box-shadow: inset 0 -20px 10px #ffffff40;
      .left-logo {
        display: flex;
        .logo {
          display: block;
          img {
            cursor: pointer;
            max-width: 198px;
            display: block;
            @media (max-width: 568px) {
              max-width: 160px;
            }
          }
        }
      }
      .right-alignment {
        display: flex;
        align-items: center;
        gap: 24px;
        .header-menu-alignment {
          display: flex;
          align-items: center;
          gap: 24px;
          @media (max-width: 1024px) {
            display: none;
          }
          .market-dropdown-menu {
            position: relative;
            display: block;
            .dropdown-menu {
              padding: 10px 0;
              display: block;
              display: flex;
              flex-direction: column;
              gap: 12px;
            }

            .dropdown-menu:hover {
              color: $black100;
              cursor: pointer;
              @include font16;
              display: block;
              transition: all 0.3s ease-in-out;
              display: flex;
              flex-direction: column;
              gap: 12px;
            }

            .dropdown {
              opacity: 0;
              transform: translateY(12px) scale(0.95);
              background-color: $white;
              border-radius: 16px;
              width: 145px;
              max-height: 0;
              transition: all 0.4s ease-in-out;
              position: absolute;
              top: 40px;
              left: -50%;
              overflow: hidden;
              .dropdown-spacing {
                padding: 20px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                .nav {
                  color: $black100;
                  padding: 0 0 16px;
                  @include font16;
                  line-height: 100%;
                  transition: all 0.3s ease-in-out;
                  font-family: Euclid-Medium;
                  display: flex;
                  flex-direction: column;
                  gap: 12px;
                  &:last-child {
                    padding: 0;
                  }
                }
              }
            }
            .trade-dropdown {
              width: 190px;
            }
          }
          .market-dropdown-menu:hover {
           .dropdown-menu {
              color: $yellow;
              display: block;
            }
            .dropdown {
              max-height: 100vh;
              transition: all 0.4s ease-in-out;
              overflow: hidden;
              transform: none;
              opacity: 1;
              .dropdown-spacing {
                .nav:hover {
                  color: $yellow;
                }
              }
            }
          }
          .dropdown-menu {
            color: $black100;
            @include font16;
            line-height: 100%;
            transition: all 0.3s ease-in-out;
            font-family: Euclid-Medium;
          }
          .dropdown-menu:hover {
            color: $yellow;
          }
        }
        .login-button-design {
          display: flex;
          align-items: center;
          gap: 24px;
          .login {
            text-decoration: none;
            @media (max-width: 568px) {
              display: none;
            }
            button {
              color: $black;
              background-color: $transparant;
              border: none;
              border-radius: 48px;
              align-items: center;
              gap: 10px;
              padding: 4px 16px 4px 4px;
              font-family: Euclid-Medium;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              display: flex;
              position: relative;
              &::before {
                content: "";
                pointer-events: none;
                -webkit-mask-composite: xor;
                -webkit-mask-source-type: auto, auto;
                background: linear-gradient(#303030 0%, #0000 100%);
                border-radius: 24px;
                padding: 1px;
                transition: all 0.3s ease-in-out;
                position: absolute;
                inset: 0;
                -webkit-mask-image:
                  linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
                -webkit-mask-repeat: repeat, repeat;
                -webkit-mask-clip: content-box, border-box;
                -webkit-mask-composite: xor;
                mask-composite: exclude;
                -webkit-mask-source-type: auto, auto;
                mask-mode: match-source, match-source;
              }
              img {
                transition: all 0.3s ease-in-out;
                display: block;
                max-width: 100%;
              }
              span {
                transition: all 0.3s ease-in-out;
                display: block;
              }
            }
            button:hover {
              img {
                transform: translate(150%);
              }
              span {
                transform: translate(-100%);
              }
            }
          }
          .mobile-menu {
            display: none;
            @media (max-width: 1024px) {
              display: block;
            }
            svg {
              height: 26px;
              width: 26px;
              @media (max-width: 568px) {
                height: 24px;
                width: 24px;
              }
            }
          }
        }
      }
    }
  }
}
