@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .market-overview-section {
    background: var(--black20);
    padding: 120px 0;
    position: relative;
    overflow: hidden;
    @media (max-width: 568px) {
      padding: 60px 0;
    }
    &::before {
      content: "";
      filter: blur(250px);
      background: var(--bg-white100);
      border-radius: 352px;
      width: 198px;
      height: 252px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
    .container-xl {
      padding: 0 20px;
      .market-overview-grid {
        grid-template-columns: repeat(4, 1fr);
        gap: 24px;
        display: grid;
        @media (max-width: 1024px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 568px) {
          grid-template-columns: 1fr;
        }
        .market-overview-items {
          align-items: center;
          display: flex;
          @media (max-width: 568px) {
            justify-content: center;
          }
          h2 {
            color: var(--bg-white);
            font-family: GCarturmDemo-SemiBold;
            @include font48;
            @media (max-width: 568px) {
              text-align: center;
              margin: 0 0 10px;
              @include font30;
            }
            span {
              background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
              -webkit-text-fill-color: #0000;
              -webkit-background-clip: text;
              background-clip: text;
            }
          }
        }
        .market-items-cards {
          opacity: 1;
          transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
          box-shadow: none;
          transform-style: preserve-3d;
          will-change: transform;
          background: linear-gradient(#ffffff1a 0%, #fff0 100%);
          border-radius: 24px;
          height: 100%;
          padding: 16px;
          transition:
            transform 0.3s,
            box-shadow 0.3s;
          position: relative;
          &::before {
            content: "";
            -webkit-mask-composite: xor;
            pointer-events: none;
            background: linear-gradient(#fff3 0%, #0000 100%);
            border-radius: 24px;
            padding: 1px;
            transition: all 0.3s ease-in-out;
            position: absolute;
            inset: 0;
            -webkit-mask-image:
              linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
            -webkit-mask-position:
              0 0,
              0 0;
            -webkit-mask-size: auto, auto;
            -webkit-mask-repeat: repeat, repeat;
            -webkit-mask-clip: content-box, border-box;
            -webkit-mask-origin: content-box, border-box;
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            -webkit-mask-source-type: auto, auto;
            mask-mode: match-source, match-source;
          }
          a {
            height: 100%;
            .market-card-image {
              transform: translate(0px, 0px) scale(1);
              will-change: transform;
              transition: transform 0.3s;
              img {
                will-change: transform;
                width: 100%;
                transition: transform 0.3s;
                display: block;
              }
            }
            .market-card-text {
              padding: 16px 0 0;
              h4 {
                color: var(--bg-white200);
                margin: 0 0 8px;
                font-family: GCarturmDemo-Medium;
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 105%;
              }
              p {
                color: var(--black300);
                font-family: Euclid-primary;
                @include font16;
                font-weight: 300;
                line-height: 105%;
              }
            }
          }
        }
        .market-items-cards:hover {
          &::before {
            background: linear-gradient(260deg, #ffffffb3 0%, #0000 100%);
          }
          a {
            .market-card-image {
              transform: scale(1.05);
            }
          }
        }
      }
    }
    .dolor-Image {
      z-index: 99;
      position: absolute;
      bottom: 0;
      right: 0;
       @media (max-width: 568px){
        display: none;
       }
    }
  }
}
