@use "../../../scss/main.scss" as *;
@use "../../../scss/font/font.scss" as *;
@use "../../../scss/theme/theme.scss" as *;
@use "../../../scss/typography/typography.scss" as *;

section {
  .ourForexPartner-section {
    background-color: $white300;
    padding: 100px 0;
    @media (max-width: 568px) {
      padding: 60px 0;
    }
    position: relative;
    .ourForexPartner-left-layer {
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @media (max-width: 1024px) {
        display: none;
      }
      img {
        height: 100%;
      }
    }
    .ourForexPartner-right-layer {
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      @media (max-width: 1024px) {
        display: none;
      }
      img {
        height: 100%;
      }
    }
    .container-xs8 {
      padding: 0 20px;
      .ourForexPartner-title {
        padding: 0 0 32px;
        position: relative;
        @media (max-width: 568px) {
          padding: 0 0 30px;
        }
        h2 {
          text-align: center;
          background: linear-gradient(
            93deg,
            #252525 0%,
            #4e4e4e 24.34%,
            #4e4e4e 52.49%,
            #4e4e4e 71.46%,
            #252525 99.25%
          );
          -webkit-text-fill-color: #0000;
          -webkit-background-clip: text;
          background-clip: text;
          font-family: GCarturmDemo-SemiBold;
          @include font48;
          span {
            background: linear-gradient(90deg, #e8bc33 10%, #b07a09 100%);
            -webkit-text-fill-color: #0000;
            -webkit-background-clip: text;
            background-clip: text;
          }
          @media (max-width: 568px) {
            font-size: 30px;
            line-height: 40px;
          }
        }
      }
      .ourForexPartner-box {
        background: linear-gradient(#fff 52.4%, #fff0 100%);
        border-radius: 24px;
        position: relative;
        &::before {
          content: "";
          border-radius: 24px;
          border-radius: inherit;
          -webkit-mask-composite: xor;
          pointer-events: none;
          background: linear-gradient(#0003 0%, #fff0 100%);
          padding: 1px;
          transition: all 0.3s ease-in-out;
          position: absolute;
          inset: 0;
          -webkit-mask-image:
            linear-gradient(#fff 0 0), linear-gradient(#fff 0 0);
          -webkit-mask-position:
            0 0,
            0 0;
          -webkit-mask-size: auto, auto;
          -webkit-mask-repeat: repeat, repeat;
          -webkit-mask-clip: content-box, border-box;
          -webkit-mask-origin: content-box, border-box;
          -webkit-mask-composite: xor;
          mask-composite: exclude;
          -webkit-mask-source-type: auto, auto;
          mask-mode: match-source, match-source;
        }
        .ourForexPartner-box-header {
          background: linear-gradient(
            93deg,
            #252525 0%,
            #4e4e4e 24.34%,
            #4e4e4e 52.49%,
            #4e4e4e 71.46%,
            #252525 99.25%
          );
          border-radius: 24px 24px 0 0;
          padding: 24px;
          @media (max-width: 568px) {
            padding: 16px;
          }
          h3 {
            color: $white;
            text-align: center;
            font-family: GCarturmDemo-SemiBold;
            @include font24;
            @media (max-width: 568px) {
              font-size: 18px;
              line-height: normal;
            }
          }
        }
        .ourForexPartner-box-body {
          padding: 40px;
          @media (max-width: 568px){
            padding: 16px;
          }
          .ourForexPartner-body-content {
            grid-template-columns: 1fr 1px 1fr;
            gap: 30px;
            padding: 0 0 40px;
            display: grid;
            @media (max-width: 568px){
                grid-template-columns: 1fr;
                gap: 20px;
            }
            div {
              p {
                color: $black300;
                margin: 0 0 24px;
                font-family: Euclid-primary;
                @include font20;
              }
              ul {
                margin: 0;
                padding: 0 0 0 20px;
                li {
                  color: $black300;
                  padding: 0 0 10px;
                  font-family: Euclid-primary;
                  @include font18;
                  font-weight: 400;
                  line-height: 105%;
                  &::marker {
                    unicode-bidi: isolate;
                    font-variant-numeric: tabular-nums;
                    text-transform: none;
                    text-indent: 0px !important;
                    text-align: start !important;
                    text-align-last: auto !important;
                  }
                  &:last-child {
                    padding: 0;
                  }
                }
              }
            }
            .ourForexPartner-line {
              background: $grey100;
              width: 100%;
              height: 100%;
              @media (max-width: 568px){
                height: 1px;
              }
            }
          }
          .ourForexPartner-grid-button {
            justify-content: center;
            max-width: 410px;
            margin: 0 auto;
            display: flex;
            position: relative;
            .ourForexPartner-left-icon {
              position: absolute;
              top: 55%;
              left: 0;
              transform: translateY(-50%);
              svg {
                max-width: 155px;
              }
            }
            .ourForexPartner-right-icon {
              position: absolute;
              top: 55%;
              right: 0;
              transform: translateY(-50%);
              svg {
                max-width: 155px;
              }
            }
            a {
              button {
                color: $white;
                cursor: pointer;
                background: $black400;
                border: none;
                border-radius: 48px;
                justify-content: center;
                align-items: center;
                gap: 10px;
                padding: 4px 16px 4px 4px;
                font-family: Euclid-SemiBold;
                @include font16;
                font-weight: 600;
                display: flex;
              }
            }
          }
        }
      }
    }
  }
}
