$white:#fff;
$white100:#d9d9d9;
$white200:#f5f5f5;
$white300:#f1f1f1;
$white400:#ebebeb;
$white500:#f3f5f9;
$white600:#cdcdcd;
$white1-light:#ffffff3d;
$transparant:#0000001a;
$backgroundblack:#0c0c0c1a;
$black:#000;
$black100:#353535;
$black20:#141414;
$black30:#2a303c;
$black40:#0c0c0c;
$black200:#5b5b5b;
$black300:#747474;
$black400:#252525;
$black500:#747474ce;
$black600:#ffffff1a;
$black700:#1f1f1f;
$black800:#0f0f0f;
$black900:#99999954;
$grey:#555; 
$grey100:#828282;
$grey200:#8c8c8c;
$grey300:#707070;
$grey400:#f9f9f9;
$yellow:#b07a09;
$yellow100:#eeb92b;
$green:#25d366;
$green100:#22ab94;
$red:red;
$blue:#2962ff;
$blue100:#1e53e5;
$blue200:#5b9cf6;