h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0%;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
}
.container-xl {
  max-width: 1280px;
  margin: 0 auto;
}
.container-sm {
  max-width: 1334px;
  margin: 0 auto;
}
.container-xs2 {
  max-width: 1129px;
  margin: 0 auto;
}
.container-xs8 {
  max-width: 1060px;
  margin: 0 auto;
}
.container-xs6 {
  max-width: 1010px;
  margin: 0 auto;
}
button {
  cursor: pointer;
}
a {
  text-decoration: none;
  cursor: pointer;
}

body {
  font-family: Euclid-primary;
  padding: 0;
  margin: 0;
  overscroll-behavior: contain;
}
div {
  display: block;
}
img {
  display: block;
  max-width: 100%;
}
.wow {
  visibility: hidden;
}
